<p id="notice"><%= notice %></p>


<% if current_domitory.email == "admin@dongduk.ac.kr" %>
<%= link_to '삭제', notice, method: :delete, data: { confirm: '삭제하시겠습니까?' } %>
<%= link_to '수정', edit_notice_path(@notice) %>
<% end %>
<%= link_to '목록으로', notices_path %>


<!-- Begin Body -->
<div class="container">
	<div class="row">
  		<div class="panel">
              
<table>
  <tr>
    <td>제목</td><td><%= @notice.notice_title %></td>
  </tr>
  <tr>
    <td>글쓴이</td><td>관리자</td>
  </tr>
  <tr>
    <td>내용</td><td><%= @notice.notice_content %></td>
  </tr>
</table>
             	</div>
      	</div> 
  	</div>