<head>
<script language="javascript">
    function writeCheck() {
        var form = document.writeform;

        if (form.domitory[major].value=="first")
        {
            alert("과를 선택해주세요");
            form.domitory[major].focus();
            return;
        }
        // if (!form.subject.value) {
        //     alert("제목을 적어주세요");
        //     form.subject.focus();
        //     return;
        // }

        else
            alert("외박신청이 완료되었습니다.")
        form.submit();
    }
    function cancelCheck() {
        alert("외박신청이 취소되었습니다.")
    }
</script>
</head>
<div class="container">
  <div class="row">
      <div class="col col-sm-12">
        <div class="panel">
        <div class="panel-body">
          회원 가입  <span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        </div>
      </div>
  	</div>
</div>
<br><br><br>
<!-- Begin Body -->
<div class="container">
	<div class="row">
      <div class="panel">
          <h3>회원 가입<br><br><br></h3>
          
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { name: "writeform" }) do |f| %>
  <%= devise_error_messages! %>
  <table class="table table-striped" style="border: 1px solid #ccc;margin-left=20px;margin-right=20px;">
    <tr>
      <div class="field">
        <td bgcolor="#FFEAEA"><%= f.label :"이메일" %></td>
        <td bgcolor="#FFEAEA"><%= f.email_field :email, autofocus: true  %></td>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <td bgcolor="#FFffff"><%= f.label :"비밀번호" %></td>
        <% if @minimum_password_length %>
        
        <% end %>
        <td bgcolor="#FFffff"><%= f.password_field :password, autocomplete: "off" %><em>(<%= @minimum_password_length %> characters minimum)</em></td>
      </div>
    </tr>
    
    <tr>
      <div class="field">
        <td bgcolor="#FFEAEA"><%= f.label :"비밀번호 확인" %></td>
        <td bgcolor="#FFEAEA"><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
      </div>
    </tr>
    <tr>
      <div>
        <td bgcolor=#FFffff><%= f.label :"이름" %></td>
        <td bgcolor=#FFffff><%= f.text_field :name%></td>
      </div>
    </tr>
    <tr>  
      <div class="field">
        <td bgcolor="#FFEAEA"><%= f.label :"학번" %></td>
        <td bgcolor="#FFEAEA"><%= f.text_field :student_number %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td bgcolor="#FFffff"><%= f.label :"전공" %></td>
        <td bgcolor="#FFffff"><%= select_tag 'domitory[major]', options_for_select([['선택해주세요', 'first'],
        ['국어국문학과', '국어국문학과'], ['문예창작과', '문예창작과'], ['국사학과', '국사학과'],
        ['영어과', '영어과'], ['일본어과', '일본어과'], ['프랑스어과', '프랑스어과'], ['독일어과', '독일어과'],
        ['중어중국학과','중어중국학과'], ['경제학과','경제학과'], ['국제경영학과', '국제경영학과'], ['문헌정보학과','문헌정보학과'],
        ['사회복지학과', '사회복지학과'], ['아동학과', '아동학과'], ['세무회계학과', '세무회계학과'], ['식품영양학과', '식품영양학과'],
        ['응용화학과', '응용화학과'], ['보건관리학과', '보건관리학과'], ['체육학과', '체육학과'], ['컴퓨터학과', '컴퓨터학과'],
        ['정보통계학과', '정보통계학과'], ['약학과', '약학과'], ['회화과', '회화과'], ['디지털공예과', '디지털공예과'],
        ['큐레이터학과', '큐레이터학과'], ['피아노과', '피아노과'], ['관현악과', '관현악과'], ['성악과', '성악과'],
        ['패션디자인학과', '패션디자인학과'], ['패션디자인학과2', '패션디자인학과2'], ['시각&실내디자인학과', '시각&실내디자인학과'], ['미디어디자인학과', '미디어디자인학과'],
        ['방송연예과2', '방송연예과2'], ['실용음악과', '실용음악과'], ['무용과', '무용과'], ['모델과', '모델과']], 0)%></td>
      
      </div>
    </tr>
    <tr>  
      <div class="field">
        <td bgcolor="#FFEAEA"><%= f.label :"본인 전화번호" %></td>
        <td bgcolor="#FFEAEA"><%= f.text_field :user_phone_number %></td>
      </div>
    </tr>
    <tr>  
      <div class="field">
        <td bgcolor="#FFffff"><%= f.label :"보호자 전화번호" %></td>
        <td bgcolor="#FFffff"><%= f.text_field :parent_phone_number %></td>
      </div>
    </tr>
    <tr>  
      <div class="field">
        <td bgcolor="#FFEAEA"><%= f.label :"호실" %></td>
        <td bgcolor="#FFEAEA"><%= f.text_field :room_number %></td>
      </div>
    </tr>
  </table>  
      
    
      <div class="actions" align="center">
        <input class="btn btn-default" type="submit" name="commit" value="Sign up" OnClick="javascript:writeCheck()">
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>