

<div class="container">
	<div class="row">
      <div class="col col-sm-12">
        
        <div class="panel">
        <div class="panel-body">
          당일신청만 가능합니다<span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        </div>
        
      </div>
  	</div>
  </div>

<!-- Begin Body -->
<div class="container">
	<div class="row">
  		

              <div class="panel">
<center>
<br><Br>
  <form action = "/domitory/croom" method = "POST"> 
<table class="table table-bordered">
<tr>
  <input type="hidden" name="domitory_id" value="<%= current_domitory.id %>"/>
  <input type = hidden value = "<%= current_domitory.student_number %>" name = "student_number">
  <input type = hidden value = "<%= current_domitory.name %>" name = "student_name">
  <input type = hidden value = "<%= current_domitory.room_number %>" name = "room_number">
  <td>학번</td><td><%= current_domitory.student_number %></td>
  <td>이름</td><td><%= current_domitory.name %></td>
  <td>호실</td><td><%= current_domitory.room_number %></td>
</tr>
<tr>
  <td>대실날짜</td><td colspan = 2><input type = date name = "apply_date" value = <%= Time.now.strftime("%F") %> min = <%= Time.now.strftime("%F") %> max = <%= Time.now.strftime("%F") %>></td>
  <td>대실사유</td><td colspan = 2><select name="croom_reason">
                <option selected>선택하세요</option>
                <option>야작(과제)</option>
                <option>시험</option>
                <option>기타</option>
            </select></td>
</tr>
</table>

<input class="btn btn-default" type = submit value = "신청">
<input class="btn btn-default" type = reset value = "취소">
</form>
</center>
<hr>
             	</div>
      	</div> 
  	</div>
