<div class="container">
	<div class="row">
      <div class="col col-sm-12">
        
        <div class="panel">
        <div class="panel-body">
          문의해주세요<span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        </div>
        
      </div>
  	</div>
  </div>
<!-- Begin Body -->
<div class="container">
  <div class="panel">
   <p id="notice"><%= notice %></p>

  <table class="table table-striped">
  <thead>
    <tr align = "center">
      <td>글번호</td>
      <td>분류</td>
      <td>제목</td>
      <td>답변</td>
      <td>작성일</td>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr align = "center">
        <td><%= proposal.id %></td>
        <td><%= proposal.p_category %></td>
        <td><%= link_to proposal.p_title, proposal %></td>
        <td><%= proposal.p_answer %></td>
        <td><%= proposal.created_at.strftime("%H:%M %Y/%m/%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center>
<br>
  <% @totalPageList.each do |page| %>
<a href="/proposals?current_page=<%=page%>">
  [
<% if page == @current_page.to_i %>
<b><% end %>
<%= page %>
<% if page == @current_page.to_i %>
</b>
<% end %>
  ]
</a>
<% end %>
</center>
<br>
<div style="text-align:right">
<a class="btn btn-default" href="<%= new_proposal_path %>" role="button">글쓰기</a>
</div>
<hr>
  </div>
</div>


