<p id="notice"><%= notice %></p>
<%= render 'linkto_main' %>
<p>
  <strong>P category:</strong>
  <%= @proposal.p_category %>
</p>

<p>
  <strong>P answer:</strong>
  <%= @proposal.p_answer %>
</p>

<p>
  <strong>P title:</strong>
  <%= @proposal.p_title %>
</p>

<p>
  <strong>P content:</strong>
  <%= @proposal.p_content %>
</p>

<p>
  <strong>답글</strong><br>
  <% @proposal.reply_proposals.each do |r| %>
   >><%= r.answer_content %>
   <form action="/proposals/delete_answer/<%= r.id %>" method="post">
     <input type="hidden" name="proposal_id" value="<%= r.proposal_id %>"/>
     <button type="submit" style="border: none; background: transparent;">삭제</button>
   </form>
  <%end%>
</p>

<p>
  <strong>답글 쓰기</strong><br>
    <form action="/proposals/write_answer" method="POST">
    <input type = "hidden" name="proposal_id" value="<%=@proposal.id%>">
    <textarea name="my_answer_content" rows="3" cols="15"></textarea>
    <input type = "submit" value="확인">
    </form>
</p>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
