<div class="container">
	<div class="row">
      <div class="col col-sm-12">
        
        <div class="panel">
        <div class="panel-body">
          서로 상처받지 않도록 예의를 갖춰 소통합시다<span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        </div>
        
      </div>
  	</div>
  </div>

<!-- Begin Body -->
<div class="container">
              <div class="panel">

          <p id="notice"><%= notice %></p>
          <center>

</center>

<table class="table table-striped">
  <thead>
    <tr align = "center">
      <td>글번호</td>
      <td>분 류</td>
      <td>제 목</td>
      <td>작성일</td>
      <td>조회수</td>
    </tr>
  </thead>

  <tbody>
    <% @communities.each do |community| %>
      <tr align = "center">
        <td><%= community.com_writer %></td>
        <td><%= community.com_category %></td>
        <td><%= link_to community.com_title, community %></td>
        <td><%= community.created_at.strftime("%H:%M %Y/%m/%d") %></td>
        <td><%= community.com_hits %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
<% @totalPageList.each do |page| %>
<a href="/communities?current_page=<%=page%>">
  [
<% if page == @current_page.to_i %>
<b><% end %>
<%= page %>
<% if page == @current_page.to_i %>
</b>
<% end %>
  ]
</a>
<% end %>
</center>
<br>
<div style="text-align:right">
<a class="btn btn-default" href="<%= new_community_path %>" role="button">글쓰기</a>
</div>
<hr>
  	</div>
</div>

